# Auto detect text files and perform LF normalization
* text=auto

# Declare files with fixed line ending for tests.
src/test/resources/**/*LF.* text eol=lf
src/test/resources/**/*CR.* text eol=cr
# This line MUST be after the *LF.* line as *LF.* also matches *CRLF.* files
src/test/resources/**/*CRLF.* text eol=crlf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
