 ---
 Introduction
 ---
 Matt Blanchette
 ---
 2010-09-23


Introduction

 ${project.description}\
 This plugin allows formatting java source code using the Eclipse
 code formatter.

 For a description on how to begin using the plugin,
 see the {{{usage.html}usage}} section. 
 
 For a description of the plugin's goals and configuration parameters, 
 see the {{{plugin-info.html}goals}} section. 
 
 For more example configurations, 
 check out the {{{examples.html}examples}} section.