# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: mvn verify

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        java: [17]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: zulu
        cache: 'maven'
    - name: Build with Maven
      run: mvn -B -V -e "-Dstyle.color=always" verify -DskipFormat -DverifyFormat
      env:
        MAVEN_OPTS: -Djansi.force=true
    - name: View IT build log on failure
      if: ${{ failure() }}
      run: cat target/it/cache/build.log

